/* login.css */

/* Centra todo el contenido en la página */
.login-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    background-color: #f4f4f9; /* Fondo suave para la página */
}

/* El formulario de login */
.card {
    width: 100%;
    max-width: 400px; /* Limita el tamaño máximo del formulario */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco para el formulario */
}

/* Estilos para el cuerpo del formulario */
.card-body {
    padding: 20px;
    width:25vw;
}

/* Estilo de las etiquetas del formulario */
.form-label {
    font-weight: bold;
    width:100vw;
}

/* Estilo para los inputs */
.form-control {
    background-color: #fff; 
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

/* Estilo del botón */
.btn {
    width:84%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
}

/* Estilo de los mensajes de error */
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
}

